/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.markdown-source-view.mod-cm6.is-readable-line-width.lighterpack-list .cm-sizer {
  max-width: none !important;
  margin-left: auto;
  margin-right: auto;
}
.markdown-source-view.mod-cm6.is-readable-line-width.lighterpack-list .cm-content {
  max-width: none !important;
}
.markdown-source-view.mod-cm6.is-readable-line-width.lighterpack-list .cm-line {
  max-width: none !important;
}
.markdown-source-view.mod-cm6.is-readable-line-width.lighterpack-list .cm-line.HyperMD-table-row {
  max-width: 100%;
}
.markdown-preview-view.is-readable-line-width.lighterpack-list .markdown-preview-sizer {
  max-width: none !important;
  margin-left: auto;
  margin-right: auto;
}
.release-notes-view.lighterpack-list .is-readable-line-width {
  max-width: none !important;
  margin-left: auto;
  margin-right: auto;
}